Repository MoneyHash/js-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

chore: playground testing
  .env.development
  index.html
  src/playground.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: refactor
  src/headlessMoneyHash.ts
  src/playground.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: add types and refactor
  src/headlessMoneyHash.ts
  src/types/headless.ts
  src/types/intent.ts
  src/types/standaloneFields.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update playground
  src/playground.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update form fields types
  src/types/intent.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove provider_id from native submit
  .env.development
  src/headlessMoneyHash.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove provider_id from native submit (#11)
  .env.development
  src/headlessMoneyHash.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(getIntentMethods): add required billing fields for each method (#9)
  package.json
  src/headlessMoneyHash.ts
  src/types/headless.ts
  src/utils/getApiUrl.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: standalone card fields
  .github/workflows/release.yml
  package.json
  release.config.mjs
  tsconfig.eslint.json
  yarn.lock
Due: prettier --write

fix: release CI
  .github/workflows/release.yml
Due: prettier --write

chore(release): 1.0.0-beta.1 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  925ad6f853f3e822f5adf1374d2c5af6cd213b97
Due: none

fix: sdk version
  package.json
Due: prettier --write

chore(release): 1.0.0-beta.2 [skip ci]
  package.json
Due: prettier --write

Notes added by 'git notes add'
  880cbe34e2e4d46d77ac53f09863db076644f2a4
Due: none

feat: standalone card fields
  .release-it.json
  package.json
  src/playground.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write

fix: release it
  .release-it.json
  package.json
Due: prettier --write

chore: release v1.0.0-beta.1 [skip ci]
  package.json
Due: prettier --write

chore: update release script
  package.json
Due: prettier --write

chore: adjust url in env files
  .env.development
  .env.production
  .env.staging
  src/standaloneFields/utils/getVaultInputIframeUrl.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: rename class of mh element
  src/headlessMoneyHash.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: stop passing provider id to submitForm function
  src/headlessMoneyHash.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: introduce renderUrl function
  src/headlessMoneyHash.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: recommended methods for transaction failed for routing
  src/types/headless.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: recommended methods for transaction failed for routing (#13)
  src/types/headless.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: introduce render url in popup iframe
  src/headlessMoneyHash.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: introduce render url in redirect
  src/headlessMoneyHash.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: add submitCvv function to mh sdk
  src/headlessMoneyHash.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: release v1.0.0-beta.2 [skip ci]
  package.json
Due: prettier --write

chore: update elements class names
  src/headlessMoneyHash.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: return submission of native form result
  src/headlessMoneyHash.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: add changeInput event on card fields
  src/headlessMoneyHash.ts
  src/types/standaloneFields.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: release v1.0.0-beta.3 [skip ci]
  package.json
Due: prettier --write

chore: update env vars for the sdk
  .env.development
  .env.production
  .env.staging
  src/standaloneFields/utils/getVaultApiUrl.ts
  src/standaloneFields/utils/getVaultInputIframeUrl.ts
  src/utils/getApiUrl.ts
  src/utils/getIframeUrl.ts
  src/vite-env.d.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update ts
  src/types/headless.ts
  src/types/intent.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: release v1.0.0-beta.4 [skip ci]
  package.json
Due: prettier --write

chore: update ts to have new intent properties
  src/types/intent.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update state details type
  src/types/intent.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: release v1.0.0-beta.5 [skip ci]
  package.json
Due: prettier --write

fix: form fields state details type
  src/types/intent.ts
Due: eslint --fix --max-warnings 0, prettier --write

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{js,js,ts,tsx}
  prettier --write: (any of: *.{js,js,ts,tsx}) or (any of: *.{html,json,md,mdx,yml,yaml})
