Repository MoneyHash/js-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write

.lintstagedrc.json:

{
  "*.{js,js,ts,tsx}": ["eslint --fix --max-warnings 0", "prettier --write"],
  "*.{html,json,md,mdx,yml,yaml}": ["prettier --write"]
}

chore: update state details type
  src/types/headless.ts
  src/types/intent.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update rendered iframe dimensions styles
  src/headlessMoneyHash.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update onComplete and onFail events types
  src/types/events.ts
  src/types/intent.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update jsdoc for headless moneyhash file
  src/headlessMoneyHash.ts
  src/types/standaloneFields.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: fire mh onComplete and onFail after iframe rendering is done
  src/headlessMoneyHash.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: encode host url
  src/headlessMoneyHash.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: encode host url in vaultSubmit
  src/headlessMoneyHash.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: release a beta version 1.0.0-beta.6
  package.json
Due: prettier --write

feat: introduce standalone fields (#10)
  .env.development
  .env.production
  .env.staging
  .release-it.json
  index.html
  package.json
  src/headlessMoneyHash.ts
  src/playground.ts
  src/standaloneFields/utils/DeferredPromise.ts
  src/standaloneFields/utils/getVaultApiUrl.ts
  src/standaloneFields/utils/getVaultInputIframeUrl.ts
  src/types/events.ts
  src/types/headless.ts
  src/types/intent.ts
  src/types/standaloneFields.ts
  src/utils/getApiUrl.ts
  src/utils/getIframeUrl.ts
  src/vite-env.d.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write

fix: correct vault url
  .env.production
  .env.staging
Due: none

chore: release v1.0.2 [skip ci]
  package.json
Due: prettier --write

fix: env var for vault FE and BE
  .env.development
  .env.production
  .env.staging
  src/standaloneFields/utils/getVaultApiUrl.ts
  src/standaloneFields/utils/getVaultInputIframeUrl.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: release v1.0.3 [skip ci]
  package.json
Due: prettier --write

chore: render the url in a popup window
  src/headlessMoneyHash.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: release v1.0.4 [skip ci]
  package.json
Due: prettier --write

[ENG-4283]: enhance render url method (#16)
  .env.development
  .env.production
  .env.staging
  package.json
  src/headlessMoneyHash.ts
  src/standaloneFields/utils/getVaultApiUrl.ts
  src/standaloneFields/utils/getVaultInputIframeUrl.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: throw error when card element is not created
  src/headlessMoneyHash.ts
  src/utils/getMissingCardElement.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: release v1.0.5 [skip ci]
  package.json
Due: prettier --write

fix: throw error when card element is not created (#17)
  package.json
  src/headlessMoneyHash.ts
  src/utils/getMissingCardElement.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: make card holder name optional
  .env.development
  src/utils/getMissingCardElement.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: make card holder name optional (#18)
  .env.development
  src/utils/getMissingCardElement.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: pass card number first 6 digits and card image url
  src/headlessMoneyHash.ts
  src/types/standaloneFields.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update on callback type
  src/headlessMoneyHash.ts
  src/types/standaloneFields.ts
Due: eslint --fix --max-warnings 0, prettier --write

[ENG-4788] feat: pass card number first 6 digits and card image url (#19)
  src/headlessMoneyHash.ts
  src/types/standaloneFields.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: add updateIntentMetadata method in the sdk
  src/headlessMoneyHash.ts
  src/types/intent.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: create separate endpoints for updating fees and discount
  src/headlessMoneyHash.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update renderUrl method to redirect inside window by default
  src/headlessMoneyHash.ts
  src/types/headless.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: redirect to result page inside iframe or popup window
  src/headlessMoneyHash.ts
Due: eslint --fix --max-warnings 0, prettier --write

[ENG-4774] feat: add updateIntentMetadata method in the sdk (#20)
  src/headlessMoneyHash.ts
  src/types/intent.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update the renderUrl method signature
  src/headlessMoneyHash.ts
  src/types/headless.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: release v1.0.6 [skip ci]
  package.json
Due: prettier --write

chore: release v1.0.6 [skip ci] (#23)
  package.json
Due: prettier --write

[ENG-4283]: default redirect inside window (#21)
  src/headlessMoneyHash.ts
  src/types/headless.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: add brand name to cardNumberChange event payload
  src/types/standaloneFields.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: add brand name to cardNumberChange event payload (#24)
  src/types/standaloneFields.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove null for unknown card brand
  src/types/standaloneFields.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(standalone fields): customize font size and padding for input fields
  src/headlessMoneyHash.ts
  src/types/standaloneFields.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat(standalone fields): customize font size and padding for input fields (#26)
  src/headlessMoneyHash.ts
  src/types/standaloneFields.ts
Due: eslint --fix --max-warnings 0, prettier --write

[ENG-4819]: unknown card string (#25)
  src/types/standaloneFields.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: allow setting direction for each element
  src/headlessMoneyHash.ts
  src/sdkEmbed.ts
  src/types/standaloneFields.ts
Due: eslint --fix --max-warnings 0, prettier --write
